.category-image{
    display:none;
}
.main-catalogue{
    width:100%;
}
.back-icon{
 width:24px;
 height:24px;   
}
.display-items{
    width:100%;
    overflow: hidden;
    display:flex;
    flex-flow: row wrap;
    justify-content: left;
}

.mens-outerwear{
    width:100%;
}
.remaning-items{
    color:gray;
    padding-top:0;
}
.item-showcase{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-name{
    font-weight:bold;
}
.select-items{
    width:100%;

}
.product-description{
    color:gray;
    max-width: 1440px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}
.product-image{
    width:100%;
}
.cost{
    padding-bottom:30px;
    border-bottom:1px solid;
}
.product-features{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size:13px;
}
.select-requirements{
    position:relative;
}
.label-for-select{
    position:absolute;
    top:20px;
}
#select-box{
    position: relative;
    width:100%;
    font-size:16px;
    padding:16px 70px;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
}


.checkout-select-requirements{
    order:3;
    position:relative;
}

.size{
    order:4;
}

.cart-cost{
    order:5;
}

.label-for-checkout-select{
    position:absolute;
    top:10px;
}
#checkout-select-box{
    position: relative;
    width:100%;
    font-size:13px;
    padding:8px 24px 8px 40px;
    background-color: transparent;
    border:0;
}

.item-requirements{
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size:20px;
    line-height: 24px;
    color:black;
}
h3{
    color:black;
}
.developers{
    display:none;
    margin-top:200px;
}
.product-description{
    margin-left:5%;
    margin-bottom:10%;
}
.add-to-cart-button-division{
    display:none;
    margin-top:3vw;
}
.checkout-button-division{
    display:none;
}

.add-to-cart{
    height:10%;
    bottom:0;
    width:100%;
    position:fixed;
    display:block;
    background-color:#172c50;
    color:white;
    text-align: center;
    margin-bottom:0;
}
.fixed-button{
    color:white;
}

.cart-header{
    margin-top:6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-count{
    font-size:12px; 
    color:gray;
    margin-top:10px;
    margin-bottom: 60px;
    text-align:center;
}
.item-image img{
    width:100%;
}
.item-in-cart{
    width:100%;
    color:gray;
    display:flex;
    flex-flow:row;
    justify-content: space-around;
    font-size: 13px;
    align-items: center;
}
.close-icon{
    order:2;
    overflow: hidden;
    width:18px;
    height:18px;
}
.close-icon img{
    width:100%;
}
.item-image{
    width:72px;
    height:72px;
}
.item-name{
    order:1;
    max-width: 100%;
    font-weight: 500;
    line-height: 20px;
}

.main-cart{
    max-width: 1440px;
    width:96%;
    margin-left:2%;
    margin-right:2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-checkout{
    max-width: 1440px;
    width:100%;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom:200px;
}
.checkout-information{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    font-size: 13px;
}
.checkout-division{
    width:100%;
    display:flex;
    margin-left:0px;
    flex-direction: column;
    justify-content:start;
}
#country-select-box{
    position: relative;
    width:100%;
    font-size:13px;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
}

.cost-summary{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.acc-information{
    width:100%;
}
.checkout-first-division{
    margin-top:0;
}
.checkout-first-division input{
    margin:0;
    border:0;
    border-bottom: 1px solid black;
    width:100%;
}
.state-zip-code{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.acc-info-input{
    width:90%;
}
.state{
    width:90%;
}
.state-input{
    width:90%;  
    border:0;
    border-bottom: 1px solid black;
}

.billing-address{
    display:flex;
    width: 100%;
    flex-direction:row;
}
.total-amount{
    width:100%;
    margin-top:30px;
    display:flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.address-checkbox{
    max-width: 10%;
    position: relative;
    background:transparent;
    border:2px solid black;
    width:16px;
    height:16px;
    margin-right: 10px;
}
.address-checkbox input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0.5;
}
.card-details{
    width:100%;
    display:flex;
    flex-direction: row;
}
#expiry-select-box{
    position: relative;
    width:100%;
    font-size:13px;
    background-color: transparent;
    border:0;
    border-bottom:1px solid gray;
}
.bold{
    font-weight: 900;
}

.cvv{
    width:30%;
}
.cvv input{
    margin:0;
    border:0;
    border-bottom: 1px solid black;
    width:100%;
}

@media (min-width: 768px) { 
    .category-image{
        display:block;
    }
    .item-showcase{
        width:33%;
    }
    .product-image{
        width:50%;
    }
    .product-features{
        width:50%;
    }
    .developers{
        display:flex;
    }
    .checkout-button-division{
        display:block;
    }
    .add-to-cart-button-division{
        display:block;
        margin-top: 3vw;
    }
    .add-to-cart{
        display:none;
    }
    .main-cart{
        width:70%;
    }
    .main-checkout{
        width:70%;
    }
    .checkout-division{
        width:46%;
        margin-left:30px;
    }
    .acc-information{
        width:46%;
    }
    .size{
        order:3;
    }
    .cart-cost{
        order:4;
    }
    .close-icon{
        order:5;
    }
}
